#home-wrapper{
  margin:auto 10px;
}

/*#search-wrapper*/.fullscreen{
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow: scroll;
  z-index: 5;
}

/*#search-wrapper*/.fullscreen span{
  font-size: 30px;
  margin-left: 3vw;
  display: block;
}

#search-wrapper.fullscreen input{
 margin-left: 3vw;
}

#search-wrapper input:focus{
  border: 1px solid #ff8100;
}

#search-wrapper .popular-container{
  height:auto;
}

#search-results > p{
  margin-left:3vw;
}

#search{
 width: 85vw;
 height:10vw;
 border-radius: 5px;
 border:1px solid black;
 margin-left: 0;
}


.h-and-p-wrapper{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.see-all{
  color: #ff8100;
  font-weight: 700;
}

.food-details{
  display: flex;
  flex-flow: column nowrap;
  margin: 0 8px;
  justify-content: space-between;
}

.food-wrapper{
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  overflow-x: scroll;
  overflow-y: none;
}


#home-wrapper img{
  width: 120px;
  border-radius: 5px;
  height: 100px;    
}

.popular-container{
  height:40vh;
  overflow: scroll;;
}

.popular-food-wrapper{
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: rgb(250,250,250);
  border-radius: 8px;
  margin-bottom: 20px;
}
.popular-food-details{
  margin: 0 8px;
  padding: 0;
}
